<title>Features</title>

<h2>Features</h2>
<h2><small>SeAuto is built with many features out of the box</small></h2>
<ul>
  <li>Run against any of the major browsers out of the box: Firefox, Internet
    Explorer, Chrome, PhanomJs, and HTMLUnit</li>
  <li>Run on Linux, Windows, and possibly Mac</li>
  <li>Run tests on a pre-existing Selenium Grid by simply defining
    a URL</li>
  <li>Change a single property to multi-thread tests with assurance
    tests will be thread safe</li>
  <li>Clean, clear distinction between the roles of Page Object and
    intermediate Step Objects.</li>
  <li>Quickly and easily add Page and Step Objects</li>
  <li>Useful helper methods for WebDriver that work across all of
    the browsers, such as accepting a javascript alert (even for the
    headless browsers!)</li>
  <li>Easily integrate it as part of your existing CI server</li>
  <li>Support for a unique browser per test to utilize resources
    more efficiently</li>
  <li>Drop-in, ready to start creating tests</li>
</ul>